/* Variables */
:root {
  --primary-color: #003876;
}

/* Global styles */
body {
  font-family: 'Poppins', sans-serif;
  background-image: url('../../public/assets/forma.svg');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 300px;
}

/* MUI global */

.MuiStepLabel-label {
  color: #03397775;
}

.test-life {
  background: red;
  z-index: 500 !important;
  padding: 450px;
}

/* Face live */

.amplify-card {
  background: transparent;
}

.amplify-alert {
  background: #b8cef9 !important;
}

.amplify-alert__heading,
.amplify-alert__body,
.amplify-icon {
  color: var(--primary-color);
}

.amplify-text {
  /* TODO: this is to fix regresive count, but this is not the right approach*/
  color: rgb(211, 211, 211) !important;
}

.amplify-button {
  background: white;
  border: 1px solid #003876;
  color: var(--primary-color);
  border-radius: 60px;
}

.amplify-button:hover {
  background: #e3e3e3;
  color: var(--primary-color);
  border: 1px solid #003876;
}

[data-amplify-theme] {
  /* --amplify-colors-background-primary: var(--primary-color); */
  --amplify-colors-font-primary: white;
  /* --amplify-colors-brand-primary-10: var(--primary-color); */
  /* --amplify-colors-brand-primary-80: var(--primary-color);
  --amplify-colors-brand-primary-90: var(--primary-color);
  --amplify-colors-brand-primary-100: var(--primary-color); */
}

.amplify-flex.amplify-liveness-figures {
  margin: 0 auto;
}

.amplify-liveness-instruction-overlay div .amplify-liveness-toast {
  background: white;
  color: var(--primary-color);
}

.amplify-liveness-toast__message div p {
  color: black !important;
}

.amplify-liveness-toast--default div .amplify-liveness-toast__message {
  color: black;
}
