@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

body {
  font-family: Poppins, sans-serif;
  background-image: url("../../public/assets/forma.png") !important;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 300px;
}

.swal2-container {
  z-index: 1600 !important;
}

.text-bold {
  font-weight: bold;
}

.text-primary {
  color: #003876;
}

.text-success {
  color: #2ecc71;
}

.text-secondary {
  color: #0087ff;
}

.text-error {
  color: #ee2a24;
}

.text-info {
  color: #23c3df;
}

.bg-primary {
  background: #003876;
}

.bg-success {
  background: #2ecc71;
}

.bg-secondary {
  background: #0087ff;
}

.bg-error {
  background: #ee2a24;
}

.bg-info {
  background: #23c3df;
}

.p-1 {
  padding: 5px;
}

.py-1 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.px-1 {
  padding-left: 5px;
  padding-right: 5px;
}

.p-2 {
  padding: 10px;
}

.py-2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.px-2 {
  padding-left: 10px;
  padding-right: 10px;
}

.p-3 {
  padding: 15px;
}

.py-3 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.px-3 {
  padding-left: 15px;
  padding-right: 15px;
}

.p-4 {
  padding: 20px;
}

.py-4 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.px-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.p-5 {
  padding: 25px;
}

.py-5 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.px-5 {
  padding-left: 25px;
  padding-right: 25px;
}

/* MUI global */

.MuiStepLabel-label {
  color: #03397775;
}

.test-life {
  background: red;
  z-index: 500 !important;
  padding: 450px;
}

/* Face live */

.amplify-card {
  background: transparent;
}

.amplify-alert {
  background: #b8cef9 !important;
}

.amplify-alert__heading, .amplify-alert__body, .amplify-icon {
  color: #003876;
}

.amplify-text {
  color: white !important;
}

.amplify-button {
  background: white;
  border: 1px solid #003876;
  color: #003876;
}
.amplify-button:hover {
  background: #e3e3e3;
  color: #003876;
  border: 1px solid #003876;
}

[data-amplify-theme] {
  /* --amplify-colors-background-primary: #003876; */
  --amplify-colors-font-primary: white;
  /* --amplify-colors-brand-primary-10: #003876; */
  /* --amplify-colors-brand-primary-80: #003876;
  --amplify-colors-brand-primary-90: #003876;
  --amplify-colors-brand-primary-100: #003876; */
}

.amplify-liveness-instruction-overlay div .amplify-liveness-toast {
  background: white;
  color: #003876;
}

.amplify-liveness-toast__message div p {
  color: black !important;
}

.amplify-liveness-toast--default div .amplify-liveness-toast__message {
  color: black;
}