/* Variables */
:root {
  --primary-color: #003876;
  --secondary-color: rgb(124, 174, 221);
}

/* Global styles */
body {
  font-family: 'Poppins', sans-serif;
  background-image: url('../../public/assets/forma.svg');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 300px;
}

/* MUI global */
.MuiStepLabel-label {
  color: #03397775;
}

.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: var(--primary-color) !important;
}

div:has(
  > div.amplify-flex.amplify-alert.amplify-liveness-start-screen-warning
) {
  display: none;
}

.amplify-button {
  background: white;
  border: 0.1rem solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 60px;
}

.amplify-alert__icon .amplify-icon svg {
  color: rgb(209, 45, 63);
}

@media only screen and (max-width: 819px) {
  .amplify-liveness-overlay {
    margin-top: 3.75rem;
  }
}

.amplify-button:hover {
  background: #e3e3e3;
  color: var(--primary-color);
}

.amplify-button:focus {
  box-shadow: none;
}

[data-amplify-theme] {
  --amplify-colors-font-primary: var(--primary-color);
}

.amplify-flex.amplify-liveness-hint {
  background-color: var(--primary-color);
  padding: 0.1rem;
  border-radius: 0.5rem;

  div {
    border-radius: 0.4rem;
    font-size: x-large;
    color: var(--primary-color);
  }
}

.amplify-liveness-toast {
  background: white;
}

.amplify-liveness-match-indicator__bar::after {
  background-color: var(--secondary-color);
}

.amplify-liveness-toast.amplify-liveness-toast--default.amplify-liveness-toast--medium {
  max-width: 40rem;
}
