/* Variables */
:root {
  --primary-color: #003876;
}

/* Global styles */
body {
  font-family: 'Poppins', sans-serif;
  background-image: url('../../public/assets/forma.svg');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 300px;
}

/* MUI global */
.MuiStepLabel-label {
  color: #03397775;
}

.test-life {
  background: red;
  z-index: 500 !important;
  padding: 450px;
}

/* Face live */
.amplify-card {
  background: transparent;
}

.amplify-alert {
  background: #6db0e2;
}

.amplify-alert__heading,
.amplify-alert__body,
.amplify-icon {
  color: white;
  font-weight: 400;
}
.amplify-liveness-popover__container {
  color: var(--primary-color);
  z-index: 10;
}

.amplify-liveness-start-screen-header__heading {
  font-weight: 700;
  font-size: 21px;
}

.amplify-liveness-start-screen-instructions__heading {
  font-weight: 500;
  font-size: 21px;
  margin-top: 40px;
}

.amplify-button {
  margin: 40px 0;
  background: white;
  border: 1px solid #003876;
  color: var(--primary-color);
  border-radius: 60px;
}

.amplify-button:hover {
  background: #e3e3e3;
  color: var(--primary-color);
  border: 1px solid #003876;
}

[data-amplify-theme] {
  /* --amplify-colors-background-primary: var(--primary-color); */
  --amplify-colors-font-primary: white;
  /* --amplify-colors-brand-primary-10: var(--primary-color); */
  /* --amplify-colors-brand-primary-80: var(--primary-color);
  --amplify-colors-brand-primary-90: var(--primary-color);
  --amplify-colors-brand-primary-100: var(--primary-color); */
}

.amplify-flex.amplify-liveness-figures {
  margin: 0 auto;
}

.amplify-liveness-instruction-overlay div .amplify-liveness-toast {
  background: white;
  color: var(--primary-color);
}

.amplify-liveness-toast__message div p {
  color: black !important;
}

.amplify-liveness-toast--default div .amplify-liveness-toast__message {
  color: black;
}

.amplify-flex .amplify-liveness-figures {
  margin: 0;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.amplify-liveness-figure__image {
  background: none;
  border: none;
}

.amplify-liveness-figure__image--success svg,
.amplify-liveness-figure__image--error svg {
  display: none;
}

.amplify-liveness-figure__image--success {
  width: 250px;
  height: 250px;
  background-image: url('../../public/assets/liveness-success.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 21px;
}

.amplify-liveness-figure__image--error {
  width: 250px;
  height: 250px;
  background-image: url('../../public/assets/liveness-error.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 21px;
}

.amplify-liveness-figure__caption {
  padding: 10px 20px;
  text-align: center;
  font-size: 21px;
  font-weight: 500;
  border-radius: 10px;
}

.amplify-liveness-figure__caption--success {
  background: #dcf4dd;
  color: #00c35b;
}

.amplify-liveness-figure__caption--error {
  background: #f4dcdc;
  color: #c30000;
}
