.footer_container {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding: 0px 24px;
}

.logo {
  flex-grow: 1;
  padding-top: '8px';
}

.footer {
  background: #003876;
  padding: 75px 25px;
}

@media only screen and (max-width: 600px) {
  .logo {
    margin-left: 0.75em;
  }
}
