@media (orientation: landscape) {
        .masthead {
            display: none;
        }
        .page-section {
            padding-top: 60px;
            padding-bottom: 0px;
        }

        #vu\.sop {
            margin: auto;
            width: 450px;
            height: 430px;
            background-color: black;
            overflow: hidden
        }
        .footer {
            display: none;
        }
 }
