.layer_logo {
  width: 342px;
  height: 341px;
  background: url('../../../public/assets/layer-logo.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  right: 0%;
  bottom: 0;
  position: absolute;
}

@media only screen and (max-width: 1200px) {
  .layer_logo {
    display: none;
  }
}
