name: Lint Code Base

permissions: read-all

on:
  pull_request:
    branches: [master]
    paths:
      - '**.js*'
      - '**.ts*'
      - Dockerfile
      - package*.json
      - .github/workflows/ci-check-linters.yml

  push:
    branches: [master]
    paths:
      - '**.js*'
      - '**.ts*'
      - Dockerfile
      - package*.json
      - .github/workflows/ci-check-linters.yml

concurrency:
  # Ensures that only one workflow task will run at a time. Previous builds, if
  # already in process, will get cancelled. Only the latest commit will be allowed
  # to run, cancelling any workflows in between
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v4.1.0

      - name: Run linter
        run: |
          pnpm install
          pnpm lint
